<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="pull-right fr">
			<h2>Listar carritos</h2>
		</div>
		
		<br>

		<div class="jumbotron">

			<div class="container">

				<section ng-init="findPurchasesByUser()">

					<div class="container-fluid jumbotron">
						<div ng-if="search.result.length > 0">
							<div class="table-responsive">
								<table>
									<thead>
										<tr class="row">
											<th class="col-md-2">Purchase Date</th>
											<th class="col-md-3">Used Shopping List</th>
											<th class="col-md-4">Payment Type</th>
											<th class="col-md-2 pull-right">Actions</th>
										</tr>
									</thead>
									<tbody ng-repeat="purchase in search.result">
										<tr class="row">
											<td class="col-md-2">
												{{ purchase.purchaseDate }}
											</td>
											<td class="col-md-3">
												{{ purchase.usedShoppingListName }}
											</td>
											<td class="col-md-4">
												{{ purchase.paymentType }}
											</td>
											<td class="col-md-2 pull-right">
												<div class="btn-group">
													<a type="button" class="btn btn-xs btn-info"
														href="#/purchase/history/{{ purchase.id }}">
														VIEW
													</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div ng-if="search.result.length === 0">
							<span>No purchase to show</span>
						</div>
					</div>

					<div class="col-md-12" ng-if="search.result.length > 0">
						<ul uib-pagination total-items="search.totalSize" 
							ng-change="findPurchasesByUser()"
							ng-model="search.pageNumber" max-size="maxSize"
							items-per-page="search.pageSize"
							class="pagination-sm" boundary-links="true">
						</ul>
					</div>

				</section>			
				
			</div>
		</div>


	</snap-content>	
</div>


