<style type="text/css">
	
	img {
		max-width: 100%;
		max-height: 100%;
	}

</style>

<section ng-init="queryAll()">

	<div>
		<a class="btn btn-info" href="#!/cart/create">
			Create
		</a>
	</div>

	<div class="container jumbotron">
		<div ng-if="carts.length > 0">
			<div class="table-responsive">
				<table>
					<tbody ng-repeat="cart in carts">
						<tr>
							<td>
								cart
							</td>
						</tr>
					</tbody>
				</table>
			</div>






			<div ng-repeat="cart in carts track by cart.id">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<!-- Product information -->
							<div>
								<img ng-src="{{ cart.imageUrl ? cart.imageUrl : noImageSrc }}">
								<p>{{cart.name }}</p>
							</div>
							<!-- Product actions -->
							<div class="btn-group">
								<a class="btn btn-xs btn-info"
									href="#!/cart/edit/{{cart.id}}">
									<small>EDIT</small>
								</a>
								<div class="btn btn-xs btn-danger" ng-click="delete(cart.id)">
									<small>REMOVE</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="carts.length === 0">
			<span>No cart to show</span>
		</div>
	</div>

</section>