<div ng-controller="AppController">


	<div class="container">
		<h4>Example</h4>
		<p>Pick a locale <select class="ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="model.selectedLocale" ng-options="key as value for (key, value) in availableLocales" ng-change="changeLocale(model.selectedLocale)"></select></p>
		<p class="ng-binding">{{model.selectedLocale}}</p>
		<p class="ng-binding">{{date | date:'shortDate'}}</p>
		<p class="ng-binding">{{date | date:'EEEE'}}</p>
		<p class="ng-binding">{{amount | currency}}</p>
		
	</div>







	<!-- -->

	<h1>{{demoText}}<h1>
	<div> {{"views.main.Splendid!" | translate}} </div>

	<h4 ng-if="auth.isAuthenticated()">
	    You are logged in! You can now <a ui-sref="#/nose">LINKEAME A SEGUNDA VISTA</a> capo.
	</h4>
	<h4 ng-if="!auth.isAuthenticated()">
	  You are not logged in! Please <button ng-click="login()">Log In</button> to continue.
	</h4>

	<!--
	vm.auth.login()
	-->

	<a ng-if="auth.isAuthenticated()" href="#/product/list"> LISTAR PRODUCTOS </a>
</div>
