<div class="modal-content">

	<div class="modal-header">
		
	</div>

	<div class="modal-body">
		<div class="jumbotron" ng-init="findPage()">
			<div class="table-responsive" ng-if="search.result.length > 0">
				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>{{"views.main.Product" | translate}}</th>
							<th>{{"views.main.Brand" | translate}}</th>
							<th>Current Price</th>
						</tr>
					</thead>
					<tbody ng-repeat="product in search.result">
						<tr>
							<td>product.name</td>
							<td>product.brand.name</td>
							<td>product.currentPrice</td>
							<td>
								<div>
									<button class="btn btn-success"
										ng-click="select(product)">
										SELECT
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div ng-if="search.result.length === 0">
				<span>Total items = 0</span>
			</div>
		</div>

		<div class="col-md-12" ng-if="search.result.length > 0">
			<ul uib-pagination total-items="search.totalSize" 
				ng-change="findPage()"
				ng-model="search.pageNumber" max-size="maxSize"
				items-per-page="search.pageSize"
				class="pagination-sm" boundary-links="true">
			</ul>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="modal-footer">
		<div>
			<button class="btn btn-danger" ng-click="cancel()">
				{{"views.main.BACK" | translate}}
			</button>
		</div>
	</div>
	
</div>