<style type="text/css">
	option {
		background-color: red;
	}

	language-select-class {
		background-color: blue;
	}
</style>

<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>

		<br>
		
		

		<div class="fr">
			<div class="language-select-class pull-right col-sm-3" ng-translate-language-select></div>

			<div class="col-sm-4 pull-left ">
				<div class="btn btn-xs btn-white"
					ng-click="logout()" >
					Logout
				</div>

				<div class="btn btn-xs btn-white"
					ui-sref="edit-profile" >
					Mi perfil
				</div>

				<div class="btn btn-xs btn-white"
					ui-sref="list-shopping-list" >
					Mis listas
				</div>

			</div>

			<div class="col-sm-5" >
				<h3>ComprandoALoLoco</h3>
			</div>
			

		
		</div>
		<div class="container">
				
				<div class="col-md-12">
					<div>Estos son algunos de nuestros productos, los queres? </div>
					<div ui-sref="list-cart" >Armate una lista</div>
					<div style="background-color: grey !important; color:blue !important"
						ng-include="'modules/products/views/snippet-list-product.view.html'"
						></div>
				</div>

			</div>
	</snap-content>	
</div>
