<div>

	<div class="container jumbotron">
		<div ng-if="searchNotInShoppingList.result.length > 0">
			<div ng-repeat="product in searchNotInShoppingList.result track by product.id">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<!-- Product information -->
							<div>
								<img ng-src="{{ product.imageUrl ? product.imageUrl : noImageSrc }}">
								<p>{{product.name }}</p>
							</div>
							<!-- Product actions -->
							<div class="col-md-12">
								<div class="col-md-4">
									<button class="btn btn-sm btn-primary"
										ng-click="decreaseQuantity(product)"
										ng-enabled="canDecrease(product)">
										<small>-</small>
									</button>
								</div>
								<div class="col-md-4 no-padding-horizontal">
									<input type="number" name="quantity" class="full-width" 
										ng-model="product.quantity">
								</div>
								<div class="col-md-4">
									<button class="btn btn-sm btn-primary"
										ng-click="increaseQuantity(product)">
										<small>+</small>
									</button>
								</div>
							</div>
							<div class="col-md-11">
								<button class="btn btn-sm btn-primary full-width"
									ng-click="addProduct(product)">
									<small>ADD</small>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="searchNotInShoppingList.result.length === 0">
			<span>No product to show</span>
		</div>
	</div>

</div>