<div class="jumbotron">
  <h2>{{"views.main.i18n for your AngularJS applications" | translate}}</h2>

  <p class="lead">
    <img ng-src="images/no-filerev/yeoman-{{locale}}.png?v={{VERSION_TAG}}" alt="{{'views.main.I\'m Yeoman' | translate}}"><br>
    {{"views.main.Always a pleasure scaffolding your apps." | translate}}
  </p>

  <p><a class="btn btn-lg btn-success" ng-href="#/">
    {{"views.main.Splendid!" | translate}}
    <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">


<h4>Upload on file select</h4>
  <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          ngf-max-size="1MB" accept="text/csv">
      Select File</button>
  <br><br>



  File:
  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"></div>
      </span>
  </div>
  <div>{{ errorMsg }}</div>


  <!-- form enctype="multipart/form-data" method="POST"
      action="http://localhost:3000/upload?upload_progress_id=12344">
      <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
      Choose a file to upload: <input name="uploadedfile" type="file" /><br />
      <input type="submit" value="Upload File" />
  </form -->

  <!-- input type="file" file="file" required/ -->

  <!--
  Upload on form submit or button click
  <form name="form">
    <div>
      Single Image with validations
      <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
        ngf-resize="{width: 100, height: 100}">Select</div>
    </div>
    <div>
      Multiple files
      <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>
    </div>
    <div>
      Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>
    </div>
    <button type="submit" ng-click="submit()">submit</button>
  </form>

  -->

  <!-- div class="btn btn-success" ng-click="upload()">UPLOAD</div -->

  <h4>{{"views.main.HTML5 Boilerplate" | translate}}</h4>

  <p>
    {{"views.main.HTML5 Boilerplate description" | translate}}
  </p>

  <h4>{{"views.main.Angular" | translate}}</h4>

  <p>
    {{"views.main.Angular description" | translate}}
  </p>

  <h4>{{"views.main.Karma" | translate}}</h4>

  <p>{{"views.main.Karma description" | translate}}</p>
</div>
